@inherits LayoutComponentBase

<div class="auth-page">
    @Body
</div>

<div id="blazor-error-ui" data-nosnippet style="display: none;">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
